{% extends 'base.html' %}

{% block content %}
{% if news_data %}
{% for news in news_data %}
<div class="card me-2 mb-2" style="width: 16rem;">
    <!-- You can add an image field to your News model and display it here -->
    <img class="card-img mt-2" width="268" height="200" src="{{ news.image_url }}" alt="News Image">

    <div class="mt-3 text-center">
      <!-- Make the title a clickable link to the full news article -->
      <a href="{{ news.link }}" class="card-title"><h5>{{ news.headlines }}</h5></a>
      <p class="text-muted">{{ news.sub_headlines }}</p>
      <!-- You can add additional content here as needed -->
    </div>
</div>
{% endfor %}
<!-- pagination -->
<center class="mt-5">
  <div class="col-md-2">
    <ul class="pagination">
      {% if news_data.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ news_data.previous_page_number }}">Previous</a></li>
      <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
      {% endif %}
      <li class="page-item"><a class="page-link" href="?page={{ news_data.number }}">{{ news_data.number }}</a></li>
      {% if news_data.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ news_data.next_page_number }}">Next</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ news_data.paginator.num_pages }}">Last</a></li>
      {% endif %}
    </ul>
  </div>
</center>
{% else %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 mt-5 pt-5 text-center">
    <br>
    <h3 class="text-muted text-capitalize">No News Articles..!</h3>
  </div>
  <div class="col-md-2"></div>
</div>
{% endif %}
{% endblock %}
